.controls-container
  @extend %flex-center-center
  flex-direction: column

  .button
    margin: 0 1rem

    &.active
      @extend .button:active

      &:hover
        @extend .button:active

      &::before
        content: none

  .switch,
  .controls
    flex: 1
    @extend %flex-center-center

  .controls-session,
  .controls-break
    margin: 0
