.settings-container
  @extend %flex-center-center

.settings__session,
.settings__break
  flex: 1
  display: flex
  justify-content: center

.settings__buttons--left,
.settings__buttons-right
  display: flex
  flex-direction: column
