.timer-container
  @extend %flex-center-center
  position: relative

.clock-container
  @extend %flex-center-center
  position: relative
  +size($clock-size, $clock-size)

@keyframes actionPause
  0%
    opacity: 0
  100%
    opacity: 1

.circle
  position: absolute
  display: flex
  +size(100%, 100%)

  $circle-border: 0.6rem

  &::before
    content: ''
    position: absolute
    +size(100%, 100%)
    left: 0
    top: 0
    border-radius: 50%
    border: $circle-border solid rgba($color-secondary-400, 0.2)
    box-sizing: border-box

  .halfcircle-container
    +size(50%, 100%)
    overflow: hidden

  .circle--left,
  .circle--right
    +size(100%, 100%)
    border: $circle-border solid rgba($color-secondary-400, 0.8)
    transition: none
    will-change: transform

    &.animate
      transition: 1s linear

    &.reset
      display: none

  .circle--left
    border-radius: $clock-size 0 0 $clock-size
    border-right: none
    transform-origin: right center

  .circle--right
    border-radius: 0 $clock-size $clock-size 0
    border-left: none
    transform-origin: left center

.animations-toggle
  width: unset
  padding: 0.3rem 0.5rem
  position: absolute
  font-size: 1rem
  left: 2rem
  top: 2rem

.current-time
  font-size: 5.6rem

.alert-container
  width: 100%
  position: absolute
  text-align: center
  bottom: 0

  .alert

    &.hidden
      transition: opacity 0.5s ease-in-out
      opacity: 0

.action-container
  position: absolute
  bottom: 2rem
  +size(4rem, 4rem)
  opacity: 0.6

  .action
    position: absolute
    width: 100%
    transition: opacity 0.25s ease-in

    &.hidden
      opacity: 0

    &.paused
      animation: actionPause 0.75s alternate infinite

