.timer-container
  @extend %flex-center-center

.clock
  @extend %flex-center-center
  width: $clock-size
  height: $clock-size
  border-radius: 50%
  border: 0.6rem solid rgba($color-secondary-400, 0.8)

.current-time
  color: $color-secondary-400
  font-size: 5.6rem
