.timer-container
  @extend %flex-center-center
  position: relative

.clock
  @extend %flex-center-center
  position: relative
  width: $clock-size
  height: $clock-size
  border-radius: 50%
  border: 0.6rem solid rgba($color-secondary-400, 0.8)

.current-time
  font-size: 5.6rem

.alert-container
  width: 100%
  position: absolute
  text-align: center
  bottom: 0

  .alert

    &.hidden
      transition: opacity 0.5s ease-in-out
      opacity: 0

.action-container
  position: absolute
  bottom: 2rem
  width: 4rem
  height: 4rem
  opacity: 0.6

  .action
    position: absolute
    width: 100%
    transition: opacity 0.25s ease-in

    &.hidden
      opacity: 0

