.wrapper
  display: flex
  flex-direction: column
  +size($wrapper-width, $wrapper-height)
  +max-size(74vw, 74vw)
  background: $wrapper-background
  @extend %absolute-center

.timer-container
  flex: 5

.controls-container
  flex: 1
.settings-container
  flex: 2
