.wrapper
  width: $wrapper-width
  max-width: 74vw
  height: $wrapper-height
  max-height: 74vw
  background: $wrapper-background
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)