.button
  border: 0.1rem solid $button-border-color
  background-color: transparent
  padding: 0.4rem
  color: $button-text-color
  font-weight: 400
  font-size: 1.4rem
  font-family: inherit
  outline: none
  transition: 0.1s ease-in-out

  &-value-change
    width: $button-value-change-size * 2
    height: $button-value-change-size
    margin: 0.2rem

  &:hover
    background-color: rgba($button-border-color, 0.16)

  &:active
    background-color: rgba($button-border-color, 0.7)
    color: $color-primary-500
    border-color: rgba($button-border-color, 0)
