.button
  border: 0.2rem solid $button-border-color
  background: transparent
  padding: 0.4rem
  color: $button-text-color

  &-value-change
    width: $button-value-change-size * 2
    height: $button-value-change-size
    margin: 0.2rem
