// colors
$color-session-400: #e0564b
$color-session-500: #bd3a2f

$color-break-400: #62ce6d
$color-break-500: #3b9b45
$color-secondary-400: #fff



// body
$body-background: $color-secondary-400

// root element
$app-width: 70rem
$app-height: $app-width

//wrapper element
$wrapper-width: 52rem
$wrapper-height: $wrapper-width
$wrapper-session-background: $color-session-400
$wrapper-break-background: $color-break-400

//timer element
$clock-size: 24rem

// buttons
$button-border-color: rgba($color-secondary-400, 0.7)
$button-text-color: $color-secondary-400
$button-value-change-width: 5rem
$button-value-change-height: 2.3rem



// mixins etc
%flex-center-center
  display: flex
  justify-content: center
  align-items: center

%absolute-center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

=size($width, $height)
  width: $width
  height: $height

=min-size($width, $height)
  min-width: $width
  min-height: $height

=max-size($width, $height)
  max-width: $width
  max-height: $height
