// body
$body-background: #e0564b

// root element
$app-width: 70rem
$app-height: $app-width

//wrapper element
$wrapper-width: 52rem
$wrapper-height: $wrapper-width
$wrapper-background: rgba(255,255,255,0.82)
